@font-face {
  font-family: "Maian";
  src: url("fonts/MAIAN.TTF") format("truetype");
}
@font-face {
  font-family: "Koulen";
  src: url("fonts/Koulen-Regular.ttf") format("truetype");
}
input:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
li {
  list-style: none;
}
a {
  color: inherit;
  list-style: none;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Maian";
}
.no-scroll {
  overflow: hidden;
}

/* burger */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1001;
}
.burger span {
  width: 25px;
  height: 3px;
  background: #000;
  display: block;
}
.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  transform: rotate(-55deg) translate(7px, -5px);
}
/* header */
.header {
  font-family: "Koulen";
}
.container {
  max-width: 1440px;
  padding: 0 25px;
  margin: 0 auto;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.logo img {
  width: 54px;
  height: 54px;
  object-fit: contain;
}
.text-logo {
  font-size: 27px;
}
.menu {
  display: flex;
}
.menu-list {
  display: flex;
  gap: 82px;
  padding: 0;
  margin: 0;
  align-items: center;
}
.link {
  list-style: none;
  font-size: 20px;
  cursor: pointer;
}
.guest {
  display: flex;
  align-items: center;
  gap: 10px;
}
.guest img {
  border-left: 1px solid #000;
  padding-left: 10px;
}
/* hero */
.hero {
  margin-top: 20px;
}
.hero_inner {
  background: url(/img/hero-bg.jpg);
  height: 732px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  position: relative;
}
.text {
  padding-left: 75px;
  padding-top: 217px;
}
.text-hero {
  max-width: 479px;
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
}
.btn-hero {
  color: #fff;
  font-family: "Maian";
  border: none;
  background: rgba(142, 125, 125, 0.5);
  padding: 9px 53px;
  border-radius: 30px;
  font-size: 34px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.btn-hero:hover {
  transform: scale(1.1);
  background: rgba(142, 125, 125, 0.7);
}
.slider {
  display: flex;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
.circle {
  background: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100px;
}
/* about */
.about {
  margin-top: 80px;
}
.about-inner {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 10px;
  align-items: stretch;
}
.about-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 50px;
}
.item {
  padding: 20px 10px;
}
.about-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(./img/about-bg.jpg);
  border-radius: 30px;
  color: #fff;
  padding: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about-right h5 {
  font-size: 28px;
  margin-bottom: 9px;
  font-weight: 300;
}
.about-right p {
  max-width: 729px;
  font-size: 28px;
  font-weight: 300;
}
/* gallery */
.gallery {
  margin-top: 80px;
}
.title {
  text-align: center;
  font-family: "Koulen";
  margin-bottom: 20px;
  display: none;
}

.title h2 {
  line-height: 50px;
  font-size: 60px;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  overflow: hidden;
  position: relative;
}
.card img {
  width: 100%;
  height: 446px;
  display: block;
  border-radius: 30px;
  object-fit: cover;
  transition: 0.3s;
}
.card:hover img {
  filter: brightness(70%);
}
.big {
  grid-column: span 2;
}
.overlay {
  position: absolute;
  max-width: 765px;
  bottom: 45px;
  left: 41px;
  color: white;
  opacity: 0;
  transition: 0.3s;
}
.card:hover .overlay {
  opacity: 1;
}
.overlay h3 {
  font-size: 64px;
}
.overlay p {
  font-size: 20px;
}
/* feedback */
.feedback {
  margin-top: 80px;
  text-align: center;
}
.feedback-title {
  font-family: "Koulen";
  margin-bottom: 20px;
}
.feedback-title h2 {
  font-size: 60px;
  line-height: 50px;
}
.feedback-title p {
  font-size: 28px;
}
.feedback-card {
  color: #fff;
  background: url("./img/FEEDBACK.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 40px 136px 85px 136px;
}
.feedback-card h3 {
  margin-bottom: 14px;
  font-size: 32px;
}
.feedback-card p {
  font-size: 24px;
  margin-bottom: 14px;
}
.avatar {
  margin-bottom: 19px;
}

/* reserve */
.reserve {
  margin-top: 80px;
}
.reserve-inner {
  display: flex;
  gap: 25px;
}
.reserve-img {
  border-radius: 30px;
}
.reserve-title {
  font-size: 32px;
  margin-bottom: 31px;
}
.reserve-text {
  font-size: 20px;
  margin-bottom: 31px;
}
.reserve-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  padding: 10px;
}
.input::placeholder {
  font-size: 24px;
  font-family: "Maian";
  color: #000;
}
.input-wrapper {
  position: relative;
}
.input-wrapper img {
  display: flex;
  position: absolute;
  right: 5px;
  bottom: 15px;
  cursor: pointer;
}
.reserve-btn {
  font-family: "Maian";
  cursor: pointer;
  grid-column: span 2;
  justify-self: center;
  max-width: 279px;
  padding: 9px 57px;
  background: #49315e;
  font-size: 24px;
  color: #fff;
  border: none;
  border-radius: 10px;
}
/* contact */
.contact {
  margin-top: 80px;
}
.contact-inner {
  display: flex;
  overflow: hidden;
  gap: 80px;
  background: rgba(135, 116, 163, 0.8);
  border-radius: 30px;
}
.contact-left {
  width: 50%;
  background: url("./img/contact.jpg") center/cover no-repeat;
  padding: 46px 30px 56px 30px;
  border-radius: 30px;
}
.contact-text {
  margin-bottom: 58px;
  color: #fff;
}
.contact-text h3 {
  margin-bottom: 10px;
  font-size: 32px;
}
.contact-text p {
  font-size: 24px;
}
.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}
.contact-form textarea {
  height: 50px;
  margin-top: 40px;
}
.contact-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  color: #fff;
  font-family: "Maian";
  font-size: 18px;
}
.contact-input,
.contact-form textarea {
  width: 100%;
}
.contact-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.contact-form textarea,
.contact-input {
  font-size: 18px;
}

.big {
  grid-column: span 2;
}
.contact-btn {
  margin-top: 42px;
  display: block;
  margin-left: auto;
  cursor: pointer;
  background: #49315e;
  color: #fff;
  border-radius: 10px;
  padding: 7px 50px;
  border: none;
  font-size: 24px;
  font-family: "Maian";
}
.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-right h3 {
  font-size: 25px;
  margin-bottom: 100px;
}
.contact-right p {
  font-size: 25px;
  margin-bottom: 20px;
}
.contact-icon {
  margin-top: 66px;
  display: flex;
  gap: 28px;
}
/* footer */
.footer {
  margin-top: 91px;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgba(154, 136, 179, 0.8);
  border-bottom: 2px solid rgba(154, 136, 179, 0.8);
  padding: 40px 0;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.footer-title {
  font-size: 28px;
}
.footer-box {
  align-items: center;
  display: flex;
  gap: 10px;
}
.footer-box span {
  font-size: 22px;
}
.footer-box img {
  width: 25px;
  height: 33px;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.footer-logo h2 {
  font-size: 40px;
  font-family: "Koulen";
}
.footer-logo img {
  width: 42px;
  object-fit: cover;
}
.icon-x {
  transform: scale(0.8);
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: end;
  font-size: 22px;
}
.footer-main {
  font-size: 28px;
}
.copyright {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}
/* adaptation */
@media (max-width: 1024px) {
  .menu-list {
    gap: 30px;
  }
  .about-left {
    grid-template-columns: 278px 278px;
    justify-content: center;
  }
  .about-inner {
    grid-template-columns: 1fr;
  }
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .big {
    grid-column: inherit;
  }
  .overlay h3 {
    font-size: 50px;
  }
  .overlay {
    left: 15px;
  }
  .feedback-title h2 {
    font-size: 45px;
  }
  .feedback-title p {
    font-size: 25px;
  }
  .avatar {
    margin-bottom: 15px;
  }
  .feedback-card h3 {
    font-size: 25px;
  }
  .feedback-card p {
    font-size: 19px;
  }
  .reserve-inner {
    flex-direction: column;
  }
  .reserve-img {
    display: block;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    object-fit: cover;
  }
  .reserve-title {
    font-size: 29px;
    margin-bottom: 20px;
  }
  .reserve-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .input::placeholder {
    font-size: 20px;
  }
  .contact-form textarea,
  .contact-input {
    font-size: 15px;
  }
  .contact-form {
    grid-template-columns: 1fr;
  }
  .contact-inner {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .contact-text {
    color: rgba(255, 255, 255, 0.8);
  }
  .contact-text h3 {
    font-size: 22px;
  }
  .contact-text p {
    font-size: 17px;
  }
  .contact-left {
    width: 100%;
  }
  .contact-right h3 {
    font-size: 25px;
    margin-bottom: 50px;
  }
  .contact-right {
    padding: 20px;
  }
  .contact-icon {
    margin-top: 30px;
  }

  .footer-title,
  .footer-main {
    font-size: 25px;
  }
  .footer-box span,
  .footer-list a {
    font-size: 18px;
  }

  .logo-social {
    text-align: center;
  }
}
@media (max-width: 900px) {
  .footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .footer-list {
    align-items: center;
  }
  .footer-contact,
  .footer-list {
    gap: 20px;
  }
  .footer-contact {
    order: 3;
  }
  .footer-list {
    order: 2;
  }
  .footer-box span {
    font-size: 16px;
  }
  .footer-logo h2 {
    line-height: 1;
  }
}
@media (max-width: 768px) {
  .menu-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #5b2a86, #7f42fa);
    flex-direction: column;
    padding: 80px 30px;
    transition: transform 0.3s ease;
    z-index: 1001;
    transform: translateY(100%);
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
  }
  .menu-list.active {
    transform: translateY(0);
  }
  .burger {
    display: flex;
  }
  .text {
    padding-left: 36px;
    padding-top: 183px;
  }
  .hero_inner {
    height: 532px;
  }
  .text-hero {
    font-size: 28px;
  }
  .btn-hero {
    padding: 9px 32px;
    font-size: 26px;
  }
  .slider {
    display: none;
  }
  .about-right h5 {
    font-size: 25px;
  }
  .about-right p {
    font-size: 22px;
    line-height: 1.5;
  }
  .about-right {
    padding: 20px;
  }
  .about-left {
    grid-template-columns: 217px 217px;
    gap: 16px;
  }
  .overlay h3 {
    font-size: 40px;
  }
  .gallery-grid {
    grid-template-columns: 1fr;
  }
  .feedback-card {
    padding: 40px 50px 50px 50px;
  }
  .contact-right h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .contact-right p {
    font-size: 17px;
  }
  .contact-inner {
    gap: 30px;
  }
  .contact-form {
    gap: 20px;
  }
  .footer-inner {
    gap: 25px;
  }
}
@media (max-width: 480px) {
  .hero_inner {
    background: #49315e;
    height: 100%;
  }
  .text {
    padding: 20px;
  }
  .text-hero {
    font-size: 23px;
    margin-bottom: 20px;
  }
  .logo {
    gap: 10px;
  }
  .text-logo {
    font-size: 22px;
  }
  .about,
  .gallery,
  .reserve,
  .contact,
  .feedback,
  .footer {
    margin-top: 50px;
  }
  .about-right h5 {
    font-size: 20px;
  }
  .about-right p {
    font-size: 14px;
    line-height: 1.5;
  }
  .about-left {
    grid-template-columns: 100px 100px;
  }
  .item img {
    width: 80%;
  }
  .item p {
    font-size: 14px;
  }
  .card img {
    height: 300px;
  }
  .overlay h3 {
    font-size: 30px;
  }
  .overlay p {
    font-size: 16px;
  }
  .feedback-card {
    padding: 30px 10px 30px 10px;
  }
  .feedback-card p {
    font-size: 14px;
    max-height: 99px;
    overflow: hidden;
  }
  .avatar {
    width: 25%;
  }
  .stars img {
    width: 50%;
  }
  .feedback-title h2 {
    font-size: 30px;
    line-height: 1;
  }
  .feedback-title p {
    font-size: 20px;
  }
  .reserve-title {
    font-size: 20px;
  }
  .reserve-text {
    font-size: 14px;
  }
  .input::placeholder {
    font-size: 15px;
  }
  .reserve-btn {
    font-size: 20px;
  }
  .contact-left {
    min-height: unset;
    height: auto;
    padding: 25px 15px;
    background-position: top;
  }
  .contact-form textarea {
    margin-top: 10px;
  }
  .contact-text {
    margin-bottom: 20px;
  }
  .contact-btn {
    font-size: 17px;
  }
  .footer-inner {
    border-top: none;
    padding: 30px;
  }
  .footer-box {
    gap: 4px;
  }
  .footer-contact {
    gap: 10px;
    font-weight: 600;
  }
  .footer-title {
    font-weight: 600;
  }
  .footer-logo h2 {
    font-size: 30px;
  }
  .footer-logo img {
    width: 30px;
    object-fit: cover;
  }
  .footer-title {
    font-size: 20px;
  }
  .footer-menu {
    display: none;
  }
  .footer-box span {
    font-size: 14px;
  }
}
